name: go

on: [push]

jobs:
  golanglint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0

  go-test-matrix:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 2
      matrix:
        version: ['1.24', '1.25']

    name: Go ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Use go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.version }}

      - name: Build
        run: go build ./...

      - name: Test
        run: go test -v -race -failfast -timeout 60s ./...
